/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET - Start of Your CSS*/

html {
	background-size: 100%;
	background-color: #10121C; 
}

header {
	margin-bottom: 5px;
}

body {
	margin: 0 auto;
	background-color: white;
	padding: 1em;
	font-size: 1.6em;
	text-align: left;
	width: 1024px;
	font-family: 'Dosis', sans-serif;
	border-style: solid;
	border-color: #10121C; /*color called 'Saturn' from wwww.colorlovers.com*/
	border-width: 5px; 
	border-radius: 10px;
} 

h1 { 
	font-size:50px;
	text-align: center;
	float:left;
	margin-bottom: 3px;
}

h2{
	font-size:30px;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

#picture1 {
	width:100%;
	float: right;
	border-radius: 20%;
	height: 38%;
	width: 38%;
}

#nav {
	height: 35px;
	width: 100px;
	display: inline;
}

#nav li {
	list-style: none;
	float: right;
	vertical-align: middle;
	margin-top: 21px;
	margin-left: 10px;
	width: 120px;
    height: 25px;
    color: white;
    background-color: #10121C;
    border:1px solid #10121C;
    border-radius: 5px;
    font-size: 18px;
    text-align: center; 
}

#nav li:hover {
	opacity:.8;
    font-weight: bold;
}

#nav li a { 
	text-decoration: none;
	color: inherit;
	cursor: auto;
}

aside {
	width: 40%;
	height: 40%;
	float: left;
}

#section {
	clear: all;
	font-size:16px; 
	float: left;
	width: 60%;
}

p {
	font-size:18px;
	line-height: 25px;
	padding-bottom: 20px;
	text-align: justify;
}

footer {
	height: 40px;
}
footer img {
	height: 35px;
	width: 35px;
	float: left;
	padding-right: 10px;
}

hr {
	clear:all;
	width: 100%;
	margin-top: 10px;
}
